.cw-button {
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    min-height: 55px;
    min-width: 60px;
    outline: none;
    padding: 6px 12px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
    &.cw-button-icon:before {
        vertical-align: middle;
        margin-right: 10px;
        display: inline-block;
    }
    :host-context(.cw-rtl) &.cw-button-icon:before {
        margin-right: 0;
        margin-left: 10px;
    }
    &:before,
    &.icon-button > span:before {
        font-size: 24px;
    }
    &.icon-button > span[class*="activity-icon"]:before,
    &[class*="activity-icon"]:not(.cw-button-icon):before {
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    &.icon-button:enabled:active > span[class*="activity-icon"]:before,
    &:enabled:active[class*="activity-icon"]:before {
        top: calc(50% + 2px);
    }
    &.icon-button > span[class*="activity-icon"]:first-child:not(.icon) {
        padding: 0;
    }
    > span:before {
        font-size: 22px;
    }
    > span {
        cursor: pointer;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    > span:first-child:not(.icon),
    > span.icon:first-child + span {
        padding: 0 10px;
        margin-top: -1px;
    }
    &:enabled:active {
        padding-top: 10px;
        box-shadow: none;
    }
    &:disabled {
        color: #fff;
        opacity: 0.4;
        pointer-events: none;
    }
    &.small {
        min-width: 130px;
    }
    &.medium {
        min-width: 170px;
    }
    &.fx200,
    &.fixed {
        width: 200px;
        white-space: normal;
    }
    &.large {
        min-width: 170px;
        min-height: 60px;
        white-space: normal;
    }
}

.cw-button.blue {
    background-color: #47749e;
    box-shadow: inset 0 -5px 0 rgba(58, 94, 128, 1);
    :host-context(.cw-hover) &:enabled:hover {
        background-color: #608bb3;
    }
    &:enabled:active,
    :host-context(.cw-hover) &:enabled:active {
        background-color: #3a5e80;
    }
    &:disabled,
    &:disabled:hover {
        background-color: #47749e;
        box-shadow: inset 0 -5px 0 rgba(58, 94, 128, 1);
    }
}

.cw-button.purple {
    background-color: #615683;
    box-shadow: inset 0 -5px 0 rgba(73, 67, 101, 1);
    :host-context(.cw-hover) &:enabled:hover {
        background-color: #8c82ae;
    }
    &:enabled:active,
    :host-context(.cw-hover) &:enabled:active {
        background-color: #494365;
    }
    &:disabled,
    &:disabled:hover {
        background-color: #615683;
        box-shadow: inset 0 -5px 0 rgba(73, 67, 101, 1);
    }
}

.cw-button.green {
    color: #ffffff;
    background-color: #50a463;
    box-shadow: inset 0 -5px 0 rgba(58, 128, 62, 1);
    :host-context(.cw-hover) &:enabled:hover {
        background-color: #5fb265;
    }
    &:enabled:active,
    :host-context(.cw-hover) &:enabled:active {
        background-color: #3a803e;
    }
    &:disabled,
    &:disabled:hover {
        background-color: #50a463;
        box-shadow: inset 0 -5px 0 rgba(58, 128, 62, 1);
    }
}

.cw-button.maroon {
    background-color: #c13f5c;
    box-shadow: inset 0 -5px 0 rgba(144, 46, 68, 1);
    :host-context(.cw-hover) &:enabled:hover {
        background-color: #cb5973;
    }
    &:enabled:active,
    :host-context(.cw-hover) &:enabled:active {
        background-color: #902e44;
    }
    &:disabled,
    &:disabled:hover {
        background-color: #c13f5c;
        box-shadow: inset 0 -5px 0 rgba(144, 46, 68, 1);
    }
}

.cw-button.geraldine {
    background-color: #de5e5c;
    box-shadow: inset 0 -5px 0 rgba(112, 29, 48, 1);
    :host-context(.cw-hover) &:enabled:hover {
        background-color: #e57977;
    }
    &:enabled:active,
    :host-context(.cw-hover) &:enabled:active {
        background-color: #701d30;
    }
    &:disabled,
    &:disabled:hover {
        background-color: #de5e5c;
        box-shadow: inset 0 -5px 0 rgba(112, 29, 48, 1);
    }
}

.cw-button.transparent-blue {
    color: #47749e;
    :host-context(.cw-hover) &:enabled:hover {
        color: #608bb3;
    }
    &:enabled:active {
        color: #3a5e80;
    }
    &:disabled,
    &:disabled:hover {
        color: #47749e;
    }
}

.cw-button.link {
    font-size: 16px;
    padding: 0 10px;
    color: #546480;
    min-height: 35px;
    > span:not(.icon) {
        text-decoration: underline;
    }
    &:enabled:hover > span:not(.icon),
    &:enabled:active > span:not(.icon) {
        text-decoration: none;
    }
    &:enabled:hover {
        color: #6e83a9;
    }
    &:enabled:active {
        padding-top: 0;
        color: #fff;
        background-color: #494365;
    }
}

.cw-button.letter {
    padding: 0;
    font-size: 45px;
    min-width: 76px;
    min-height: 76px;
    height: 76px;
    color: #56778f;
    background: #e8f4fc;
    box-shadow: inset 0 -5px 0 rgba(58, 94, 128, 1);
    &:not(:last-child) {
        margin-right: 7px;
    }
    &:before {
        content: attr(data-index);
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 14px;
    }
    :host-context(.cw-hover) &:enabled:hover {
        background: #fcfeff;
    }
    &:enabled:active {
        padding-top: 5px;
        color: #fff;
        background: #3a5e80 !important;
    }
    &:disabled,
    &:disabled:hover {
        opacity: 1;
        background: #e8f4fc;
        box-shadow: inset 0 -5px 0 rgba(58, 94, 128, 1);
    }

    &.correct,
    &.correct:disabled,
    &.correct:disabled:hover {
        color: #546b4b;
        border: 1px solid #839d8b;
        background: #d9eddf;
        box-shadow: none;
    }
    &.incorrect,
    &.incorrect:disabled,
    &.incorrect:disabled:hover {
        color: #6b4b53;
        border: 1px solid #cc9cae;
        background: #efd4d5;
        box-shadow: none;
    }
    :host-context(.cw-rtl) &:not(:last-child) {
        margin-left: 7px;
        margin-right: auto;
    }
}

.cw-button.mode {
    min-width: 44px;
    min-height: 42px;
    border: 2px solid #47749e;
    border-bottom: 0;
    color: #47749e;
    background-color: #f2f2f2;
    box-shadow: inset 0 -5px 0 rgba(58, 94, 128, 1);
    &:before {
        font-size: 20px;
        top: calc(50% - 2px);
    }
    &:focus:before,
    &.selected-mode:enabled:before {
        top: 50%;
    }
    :host-context(.cw-hover) &:enabled:hover {
        color: #608bb3;
    }
    &.selected-mode:enabled,
    &:enabled:active {
        color: #fff;
        background-color: #3a5e80;
        border: 0;
        box-shadow: inset 0 -5px 0 rgba(58, 94, 128, 1);
    }
}

.green-button {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    min-width: 100px;
    border: 1px groove rgba(114, 153, 24, 0.5);
    background: #a1cc3e;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #729918;
    box-shadow: inset -1px 2px 1px -1px rgba(255, 255, 255, 0.7), 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit;
    :enabled:hover {
        background: #97bf39;
        box-shadow: inset -1px 2px 1px -1px rgba(255, 255, 255, 0.7), 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    }
    :enabled:active {
        background: #8db236;
        box-shadow: inset 1px 1px 7px -1px rgba(0, 0, 0, 0.5), 1px 2px 1px 0 rgba(0, 0, 0, 0.15);
    }
}

@media (max-width: 768px) {
    .cw-button {
        cursor: default;
        &.letter:before {
            display: none;
        }
    }

    .cw-button.mobile {
        min-height: 40px;
        min-width: 40px;
        padding: 0;
        > span {
            display: block;
        }
        span:not(.icon) {
            font-size: 11px;
        }
        > span:first-child:not(.icon),
        > span.icon:first-child + span {
            padding: 0;
            margin-top: 0;
        }
        &.icon-button > span[class*="activity-icon"]:before,
        &[class*="activity-icon"]:before {
            font-size: 28px;
        }
        &.icon-button:enabled:active > span[class*="activity-icon"]:before,
        &:enabled:active[class*="activity-icon"]:before {
            top: 50%;
        }
        &:enabled:active {
            padding-top: 0;
        }
        &.small,
        &.medium{
            min-width: initial;
        }
        &.fx200 {
            width: auto;
        }
        &.blue {
            background-color: transparent;
            box-shadow: none;
            color: #47749e;
            :host-context(.cw-hover) &:enabled:hover {
                color: #608bb3;
                background-color: transparent;
            }
            &:enabled:active {
                color: #3a5e80;
                background-color: transparent;
            }
            &:disabled,
            &:disabled:hover {
                color: #47749e;
                background-color: transparent;
            }
        }
        &.maroon {
            background-color: transparent;
            box-shadow: none;
            color: #c13f5c;
            :host-context(.cw-hover) &:enabled:hover {
                color: #cb5973;
                background-color: transparent;
            }
            &:enabled:active {
                color: #902e44;
                background-color: transparent;
            }
            &:disabled,
            &:disabled:hover {
                color: #c13f5c;
                background-color: transparent;
            }
        }
        &.green {
            color: #50a463;
            background-color: transparent;
            box-shadow: none;
            :host-context(.cw-hover) &:enabled:hover {
                color: #5fb265;
                background-color: transparent;
            }
            &:enabled:active,
            :host-context(.cw-hover) &:enabled:active {
                color: #3a803e;
                background-color: transparent;
            }
            &:disabled,
            &:disabled:hover {
                color: #50a463;
                box-shadow: none;
            }
        }
        &.purple {
            color: #615683;
            background-color: transparent;
            box-shadow: none;
            :host-context(.cw-hover) &:enabled:hover {
                color: #8c82ae;
                background-color: transparent;
            }
            &:enabled:active,
            :host-context(.cw-hover) &:enabled:active {
                color: #494365;
                background-color: transparent;
            }
            &:disabled,
            &:disabled:hover {
                color: #615683;
                background-color: transparent;
                box-shadow: none;
            }
        }
    }

    .cw-button.letter {
        min-width: 65px;
        min-height: 65px;
        height: 65px;
    }
}

@media screen and (max-width: 480px) {
    .cw-button.letter {
        min-width: calc(19vw - 3px);
        &:not(:last-child) {
            margin-right: 3px;
        }
        :host-context(.cw-rtl) &:not(:last-child) {
            margin-left: 3px;
            margin-right: auto;
        }
    }
}
